
*.vsidx
.vs/CrossTraffic/v17/.wsuo
*.json
Traffic/.vs/Traffic/v17/.suo
*.sqlite
*.db
*.tlog
*.vcxproj
*.filters
*.recipe
*.log
*.pdb
*.exe
*.idb
*.ilk
*.obj
*.user
*.sln
*.ipch
*.opendb
*.db-wal
Traffic/.vs/Traffic/v17/Browse.VC.db-shm
